.Rproj.user
.Rhistory
.RData
.Ruserdata
README.Rmd
metadata.Rmd
document_output
data_org_hkd
data_org_mw
data_out
supplementary_information*.log
coverletter.Rmd
*.Rproj
*.bib
*.csl
*old

*.log
code_empirical/data_gis/albers_point_subset_hkd.gpkg
code_empirical/data_gis/albers_point_subset_mw.gpkg
